.header{
   background-color: #fff8f3;
   /* background-image: url("../images/developer.jpg");
   background-repeat: no-repeat;
   background-position: bottom left; */
}
/* nav related style */
nav{
    display: flex;
   justify-content: space-between; 
    align-items: center;
    margin: 0 200px;
}
.nav{
    font-family:monospace;
    font-size: 35px;
}
.text-primary{
    color: orange;
}
nav > ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style:none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    padding: 15px 30px;
    border-radius: 5px;
    background-color:orange;
    border: 0;
    color: white;
    font-size: 20px;
   /* font-weight:700; */
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    width: 500px;
}
.chandan{
    width: 400px;
    height: 450px;
}
.greeting{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: #474747;
    margin-bottom: 0;
}
.name{
    font-size: 45px;
    font-family:cursive;
    margin-top: 2px;
    margin-bottom: 0px;
}
.description{
    margin-top: 5px;

}

/* main section style */
main{
    width: 1140px;
   /* height:500px; */
   margin: 0 auto;
}
.about{
    padding: 130px;
    border-radius: 5px;
    background-color:#fff8f3 ;
    margin:130px  0;
    border: 2px solid gold;
}
.section-title{
    color: #181818;
    font-size: 30px;
    text-align: center;
}
.about-me{
    color: #757575;
    text-align: center;
    font-family: sans-serif;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
}
.about-info{
    text-align: center;
}
.info-title{
    
    margin-bottom: 0px;

}
.info-description{
margin-top: 3px;
}

/* skills related style */
.section-description{
    padding: 20px 270px;
}
.skill-container{
    display: flex;
    gap: 20px;
}
.skill{
    padding: 25px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 15px 40px 0px rgb(0,0,0,0.06);
}
img{
    width: 35px;
    height: 35px;
    margin-bottom: 0;
}
.skills-title{

    margin-top: 3px;
    margin-bottom: 0;
}
.skill-description{
   padding: 10px;
    margin-top: 3px;
    color: gray;
}

/*   my resume summary    */

.resume-column-title{
    color: #474747;
    font-family: sans-serif;
    font-size: 25px;
    margin-bottom:30px;
}
.resume-container{
    display:flex ;
    gap: 40px;
    margin-left: 40px;
}
.resume-item-title{
    color: #474747;
    margin-bottom: 0px;
    font-family:monospace;
}
.resume-institute{
  color: #757575;
  font-size: 19px;
  margin-top: 6px;
}
.resume-information{
    color: #757575;
}
.download{
    text-align:center;
    margin-top: 50px;
}